/* ----- keyframes ----- */

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(247, 247, 247, 0.094);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(247, 247, 247, 0.094);
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(56, 56, 56, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(56, 56, 56, 0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(56, 56, 56, 0.6);
        transform: translatey(0px);
    }
}

/* ----- animation classes ----- */

.h-anim {
    &-pulse {
        animation: shadow-pulse 1s 1;

        &--hover:hover {
            animation: shadow-pulse 1s 1;
        }
    }

    &-float {
        animation: float 6s 1 ease-in-out;
    }
}

/* ----- parameter helpers ----- */

.h-iteration-infinite {
    animation-iteration-count: infinite !important;
}