#container {
  width: 80vw;
  padding: 5vh 10vw;
}

form {
  width: 100%;
}

.input {
  width: 40%;
  padding: 15px 3%;
  margin: 1.6%;
  font-family: $font;
  font-size: $font-size;
  border: 0px;
  border-bottom: 1px solid lighten($main-color, 30%);
  background: transparent;
  color: $main-color;
  transition: 0.4s ease-in-out;
}

.input:disabled {
  opacity: 0.4;
  border-bottom: 2px solid lighten($main-color, 10%);
}

.full {
  width: 89.5%;
}

.input option {
  background: $main-color;
  color: $background;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid $main-color;
}

.bordered {
  border-radius: 6px;
  border: 1px solid lighten($main-color, 30%);
}

.bordered:focus {
  border: 1px solid $main-color;
}

.input-filled {
  color: $background;
  background: $main-color;
  border: 1px solid $background !important;
}

.input-filled::placeholder {
  color: $background !important;
}

.input::placeholder {
  color: $main-color;
}

.bold {
  border-width: 2px;
  font-weight: bold;
}

.bold:focus {
  border-bottom: 2px solid $main-color;
}

.label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: $font-size;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $main-color;
}

.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio {
  position: absolute;
  top: 0px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: lighten($main-color, 30%);
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}

.label:hover input~.radio {
  background-color: lighten($main-color, 20%);
}

.label input:checked~.radio {
  background-color: $main-color;
}

.label input:disabled~.radio {
  opacity: 0.5;
  background-color: lighten($main-color, 30%);
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.label input:checked~.radio:after {
  display: block;
}

.label .radio:after {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: $background;
  border-radius: 50%
}

.checkbox {
  position: absolute;
  top: -3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: lighten($main-color, 30%);
  border-radius: 2px;
  transition: 0.4s ease-in-out;
}

.label:hover input~.checkbox {
  background-color: lighten($main-color, 20%);
}

.label input:checked~.checkbox {
  background-color: $main-color;
}

.label input:disabled~.checkbox {
  opacity: 0.5;
  background-color: lighten($main-color, 30%);
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.label input:checked~.checkbox:after {
  display: block;
}

.label .checkbox:after {
  left: 9px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid $background;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select-full {
  width: 95%;
}

textarea {
  display: block;
}
