/* Animations */


.pulse-infinite {
    animation: shadow-pulse 1s infinite;
}
 
.pulse-once:hover {
     animation: shadow-pulse 1s 1;
}
 
// Pulse Define
@keyframes shadow-pulse
{
   0% {
     box-shadow: 0 0 0 0px rgba(247, 247, 247, 0.094);
   }
   100% {
     box-shadow: 0 0 0 20px rgba(247, 247, 247, 0.094);
   }
}


.float {
  animation: float 6s ease-in-out infinite;
}

// Float Define
@keyframes float {
0% {
  box-shadow: 0 5px 15px 0px rgba(56, 56, 56, 0.6);
  transform: translatey(0px);
}
50% {
  box-shadow: 0 25px 15px 0px rgba(56, 56, 56,0.2);
  transform: translatey(-20px);
}
100% {
  box-shadow: 0 5px 15px 0px rgba(56, 56, 56,0.6);
  transform: translatey(0px);
}
}