.button {
    color: $main-color;
    font-family: $font;
    font-size: $font-size;
    font-weight: bold;
    text-align: center;

    background: $background;

    padding: 14px 35px;
    margin: 10px 15px;

    border: 2px solid $main-color;
    border-radius: 6px;
    outline: none;
    
    cursor: pointer;
    
    transition: 1s ease-in-out;

    &:active {
        background-color: lighten($main-color, 30%);
        background-size: 100%;
    
        transition: 0s ease-in-out;
    }

    &:disabled {
        color: lighten($main-color, 15%);
    
        border: 2px solid lighten($main-color, 15%);
    }

    &:hover {
        background: $background radial-gradient(circle, transparent 1%, $background 1%) center center/15000%;
    }

    @each $name, $value in $theme-colors {
        &.-theme-#{$name} {
            @include button-theme($value, color('black'), $value);
        }
    }

    &.-size-small {
        padding: 6px 20px;

        font-size: $font-size-small;

        .button__icon {
            color: $main-color;
            font-size: 0.6rem !important;
        }
    }

    &.-size-large {
        padding: 18px 60px;

        font-size: $font-size-big;

        .button__icon {
            color: $main-color;
            font-size: 1rem;
        }
    }

    .button__icon {
        color: $main-color;
        font-size: 0.8rem;
    }
}

.button--filled {
    background: $main-color;

    color: $background;

    &:active {
        background-color: lighten($main-color, 10%);
        background-size: 100%;
    
        transition: 0s ease-in-out;
    }

    &:disabled {
        color: $background;
    
        background: lighten($main-color, 15%);
    }

    &:hover {
        background: $main-color radial-gradient(circle, transparent 1%, $main-color 1%) center center/15000%;
    }

    @each $name, $value in $theme-colors {
        &.-theme-#{$name} {
            @include button-filled-theme($value, $value, color('black'));
        }
    }

    .button__icon {
        color: $background;
        font-size: 0.8rem;
    }
}