.button {
    color: var(--text-color);
    font-family: $font;
    font-size: $font-size;
    font-weight: bold;
    text-align: center;
    background: transparent;
    padding: 14px 35px;
    margin: 10px 15px;
    border: 2px solid;
    border-color:var(--text-color);
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition: 1s ease-in-out;
    &:active {
        background: var(--text-color);
        background-size: 100%;
        transition: 0s ease-in-out;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:hover {
        background: var(--bg-color) radial-gradient(circle, transparent 1%, var(--bg-color) 1%) center center/15000%;
    }

    @each $name, $value in $theme-colors {
        &.-theme-#{$name} {
            @include button-theme($value, transparent, $value);
        }
    }

    &.-size-small {
        padding: 6px 20px;

        font-size: $font-size-small;

        .button__icon {
            color: var(--text-color);
            font-size: 0.6rem !important;
        }
    }

    &.-size-large {
        padding: 18px 60px;

        font-size: $font-size-big;

        .button__icon {
            color: var(--text-color);
            font-size: 1rem;
        }
    }

    .button__icon {
        color: var(--text-color);
        font-size: 0.8rem;
    }
}

.button--filled {
    background: var(--text-color);
    color: var(--bg-color);

    &:active {
        background-color: var(--text-color);
        background-size: 100%;
    
        transition: 0s ease-in-out;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:hover {
        background: var(--text-color) radial-gradient(circle, transparent 1%, var(--text-color) 1%) center center/15000%;
    }

    @each $name, $value in $theme-colors {
        &.-theme-#{$name} {
            @include button-filled-theme($value, $value, var(--bg-color));
        }
    }

    .button__icon {
        color: var(--bg-color);
        font-size: 0.8rem;
    }
}