.button {
  color: $main-color;
  font-family: $font;
  font-size: $font-size;
  font-weight: bold;
  text-align: center;

  background: $background;

  padding: 14px 35px;
  margin:10px 15px;

  border: 2px solid $main-color;
  border-radius: 6px;
  outline: none;
  
  cursor: pointer;
  
  transition: 1s ease-in-out;

  i {
    color: $main-color;
    font-size: 0.8rem;
  }
}

.block {
  display: block;
}

.rounded {
  border-radius: 50px !important;
}

.button:disabled {
  color: lighten($main-color, 15%);

  border: 2px solid lighten($main-color, 15%);
}

.button:hover {
  background: $background radial-gradient(circle, transparent 1%, $background 1%) center center/15000%;
}

.button:active {
  background-color: lighten($main-color, 30%);
  background-size: 100%;

  transition: 0s ease-in-out;
}

.small {
  padding: 6px 20px;

  font-size: $font-size-small;

  i {
    color: $main-color;
    font-size: 0.6rem !important;
  }
}

.big {
  padding: 18px 60px;

  font-size: $font-size-big;

  i {
    color: $main-color;
    font-size: 1rem;
  }
}

.filled {
  background: $main-color;

  color: $background;

  i {
    color: $background;
    font-size: 0.8rem;
  }
}

.filled:hover {
  background: $main-color radial-gradient(circle, transparent 1%, $main-color 1%) center center/15000%;
}

.filled:active {
  background-color: lighten($main-color, 10%);
  background-size: 100%;

  transition: 0s ease-in-out;
}

.filled:disabled {
  color: $background;

  background: lighten($main-color, 15%);
}

.danger {
  background: $background;

  color: $danger;

  border: 2px solid $danger;

  i {
    color: $danger;
  }
}

.danger:disabled {
  color: lighten($danger, 15%);

  border: 2px solid lighten($danger, 15%);
}

.danger:hover {
  background: $background radial-gradient(circle, transparent 1%, $background 1%) center center/15000%;
}

.danger:active {
  background-color: lighten($danger, 30%);
  background-size: 100%;

  transition: 0s ease-in-out;
}

.danger-filled {
  background: $danger;

  color: $background;

  border: 2px solid $danger;

  i {
    color: $background;
  }
}

.danger-filled:disabled {
  color: $background;

  border: 2px solid lighten($danger, 15%);

  background: lighten($danger, 15%);
}

.danger-filled:hover {
  background: $danger radial-gradient(circle, transparent 1%, $danger 1%) center center/15000%;
}

.danger-filled:active {
  background-color: lighten($danger, 10%);
  background-size: 100%;
  
  transition: 0s ease-in-out;
}
