.input {
    width: 42%;
    padding: 15px 2%;
    margin: 1.6%;
    color: var(--text-color);
    font-family: $font;
    font-size: $font-size;
    border: 0px;
    border-bottom: 1px solid var(--text-color);
    background: transparent;

    transition: 0.4s ease-in-out;

    &:disabled {
        opacity: 0.4;
    }

    &:focus {
        outline: none;
        border-bottom: 2px solid var(--text-color);
    }

    &::placeholder {
        color: var(--text-color);
    }

    &--filled {
        color: var(--bg-color);

        background: var(--text-color);
    
        border: 1px solid var(--bg-color) !important;
    
        &::placeholder {
            color: var(--bg-color) !important;
        }
    }

    &.h-weight-bold {
        border-width: 2px;
    
        font-weight: bold;
    
        &:focus {
            border-bottom: 2px solid var(--text-color);
        }
    }

    &.h-border-all {
        border-radius: 6px;
        border: 1px solid var(--text-color);
    
        &:focus {
            border: 2px solid var(--text-color);
        }
    }

    &.h-width-full {
        width: 89.5%;
    }
}

.label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: $font-size;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--text-color);
}

.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio {
  position: absolute;
  top: 0px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}

.label:hover input~.radio {
  background-color: var(--text-color);
}

.label input:checked~.radio {
  background-color: var(--text-color);
}

.label input:disabled~.radio {
  opacity: 0.5;
  background-color: var(--text-color);
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.label input:checked~.radio:after {
  display: block;
}

.label .radio:after {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: var(--bg-color);
  border-radius: 50%
}

.checkbox {
  position: absolute;
  top: -3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--text-color);
  border-radius: 2px;
  transition: 0.4s ease-in-out;
}

.label:hover input~.checkbox {
  background-color: var(--text-color);
}

.label input:checked~.checkbox {
  background-color: var(--text-color);
}

.label input:disabled~.checkbox {
  opacity: 0.5;
  background-color: var(--text-color);
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.label input:checked~.checkbox:after {
  display: block;
}

.label .checkbox:after {
  left: 9px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid var(--bg-color);
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

select {
    &.input {
        &.h-width-full {
            width: 95%;
        }

        option {
            background: var(--text-color);
        
            color: var(--bg-color);
        }
    }
}
