.input {
    width: 40%;

    padding: 15px 3%;
    margin: 1.6%;

    color: $main-color;
    font-family: $font;
    font-size: $font-size;

    border: 0px;
    border-bottom: 1px solid lighten($main-color, 30%);

    background: transparent;

    transition: 0.4s ease-in-out;

    &:disabled {
        opacity: 0.4;
    
        border-bottom: 2px solid lighten($main-color, 10%);
    }

    &:focus {
        outline: none;
        border-bottom: 1px solid $main-color;
    }

    &::placeholder {
        color: $main-color;
    }

    &--filled {
        color: $background;

        background: $main-color;
    
        border: 1px solid $background !important;
    
        &::placeholder {
            color: $background !important;
        }
    }

    &.h-weight-bold {
        border-width: 2px;
    
        font-weight: bold;
    
        &:focus {
            border-bottom: 2px solid $main-color;
        }
    }

    &.h-border-all {
        border-radius: 6px;
        border: 1px solid lighten($main-color, 30%);
    
        &:focus {
            border: 1px solid $main-color;
        }
    }

    &.h-width-full {
        width: 89.5%;
    }
}

.label {
    display: block;
    position: relative;

    padding-left: 40px;
    margin-bottom: 15px;

    cursor: pointer;

    color: $main-color;
    font-size: $font-size;
    
    user-select: none;

    &:hover input {
        background-color: lighten($main-color, 20%);
    }

    input {
        position: absolute;
    
        opacity: 0;
    
        cursor: pointer;

        &:checked {
            background-color: $main-color;
            
            ~.checkbox:after,
            ~.radio:after {
                display: block;
            }
        }

        &:disabled~.checkbox,
        &:disabled~.radio {
            opacity: 0.5;
        
            background-color: lighten($main-color, 30%);
        }
    }
    
    .checkbox,
    .radio {
        height: 25px;
        width: 25px;

        background-color: lighten($main-color, 30%);
        
        transition: 0.4s ease-in-out;

        &:after {
            content: "";
        
            display: none;
            position: absolute;
        }
    }

    .checkbox {
        position: absolute;
        top: -3px;
        left: 0;

        border-radius: 2px;

        &:after {
            left: 9px;
            top: 4px;
        
            width: 5px;
            height: 10px;
        
            border: solid $background;
            border-width: 0 4px 4px 0;
            
            transform: rotate(45deg);
        }
    }

    .radio {
        position: absolute;
        top: 0px;
        left: 0;

        border-radius: 50%;

        &:after {
            top: 5px;
            left: 5px;
        
            width: 15px;
            height: 15px;
        
            background: $background;
            
            border-radius: 50%
        }
    }
}

select {
    &.input {
        &.h-width-full {
            width: 95%;
        }

        option {
            background: $main-color;
        
            color: $background;
        }
    }
}
