h1 {
    small {
        font-size:1.3rem;
        display:block;
    }
}
h2 {
    small {
        font-size:1.1rem;
        display:block;
    }
}
h3 {
    small {
        font-size:0.8rem;
        display:block;
    }
}
h4 {
    small {
        font-size:0.5rem;
        display:block;
    }
}
h5 {
    small {
        font-size:0.3rem;
        display:block;
    }
}
h6 {
    small {
        font-size:0.1rem;
        display:block;
    }
}