.table {
    width: 100%;

    padding: 2% 0;

    text-align: left;

    border-collapse: collapse;

    &--bordered {
        th, td {
            border: 2px solid $main-color !important;
        }
    }

    &--borderless {
        th, tr, td {
            border: none !important;
        }
    }
    
    th, td {
        border-bottom: 2px solid $main-color;

        padding: 20px 15px;
    }

    .table__head {
        color: $main-color;

        &--filled {
            th{
                background: $main-color !important;
                color: $background !important;
            }
        }
    }

    .table__body {
        &--filled {
            td{
                background: $main-color !important;
                color: $background !important;
            }
        }

        &--bordered {
            td{
                border: 2px solid $main-color !important;
            }
        }

        &--borderless {
            td {
                border: none !important;
            }
        }
    }
}