h1, h2, h3, h4, h5, h6 {
    display: block;
}


body {
    font-family: $font;
    padding: 0px;
    margin: 0px;
    color:var(--text-color);
    background:var(--bg-color);
}

form {
    width: 100%;
}

textarea {
    display: block;
}