h1, h2, h3, h4, h5, h6 {
    display: block;
}

body {
    font-family: $font;

    background: $background;

    color: $main-color;
    
    padding: 0px;
    margin: 0px;
}

form {
    width: 100%;
}

textarea {
    display: block;
}