//your font
$font: 'Poppins', sans-serif;

//you can mess around with these values but i suggest you to keep them this way owo
$font-size: 1rem;
$font-size-small: 0.8rem;
$font-size-big: 1.2rem;