@charset 'utf-8';

// Abstracts like: variables, mixins, functions and others utilities.
@import './abstracts/variables/manifest',
        './abstracts/mixins/manifest',
        './abstracts/functions/manifest';

// Helper classess.
@import './helpers/display',
        './helpers/text',
        './helpers/sizing',
        './helpers/animation',
        './helpers/border';

// Vendors like: Bootstrap, Normalize and JQuery-UI.
// @import './vendors/';

// Boilerplate code like: resets and typography.
@import './base/reset',
        './base/typography';

// Focuses on the macro layout, such as things like: _header.scss, _grid.scss or _forms.scss.
@import './layout/grid';

// Focuses on the micro layout, such as widgets like: _media.scss, _thumbnails.scss and _buttons.scss.
@import './components/button',
        './components/form',
        './components/table';

// Please, don't go through this file. :c
// @import 'shame-file';